* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.svg-sprite {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -100;
}

svg {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.site-branding {
    
    img {
        width: 192px;
        height: 16px;
    }
}

.icon-30 {
    width: 30px;
    height: 30px;
}

.accent-color {
    color: var(--accent-color);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--accent-shade);
    opacity: .75;
}


