html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-size: 57%;

    @media (min-width: $medium) {
        font-size: 62.5%
    }
}

body {
    font-family: var(--font);
    font-size: 1.4rem;
    line-height: normal;
    position: relative;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

small {
    font-size: 1.2rem;
}

strong {
    font-family: var(--font-medium) !important;
}

.black {
    font-family: var(--font-bold);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-medium);
    line-height: normal;
}

h1, .h1 {
    font-size: 3rem;

    @media (min-width: $medium) {
        font-size: 3.6rem;
    }
}

h2, .h2 {
    font-size: 2.4rem;
    
    @media (min-width: $medium) {
        font-size: 3.2rem;
    }
}

h3, .h3 {
    font-size: 2.4rem;
    
    @media (min-width: $x-large) {
        font-size: 2.8rem;
    }
}

h4, .h4 {
    font-size: 2rem;
    
    @media (min-width: $x-large) {
        font-size: 2.4rem;
    }
}

h5, .h5 {
    font-size: 1.6rem;
    
    @media (min-width: $medium) {
        font-size: 1.8rem;
    }
}

h6, .h6 {
    font-size: 1.5rem;
    
    @media (min-width: $medium) {
        font-size: 1.6rem;
    }
}


.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.text-xl {
    font-size: 4.6rem;
    line-height: 4.6rem;

    @media (min-width: $medium) {
        font-size: 6.6rem;
        line-height: 6.6rem;
    }

    @media (min-width: $m-large) {
        font-size: 8.6rem;
        line-height: 8.6rem;
    }
}

