//responsive breakpoints
$small: 320px;
$xs-medium: 375px;
$s-medium: 580px;
$medium: 767px;
$s-large: 991px;
$large: 1024px;
$m-large: 1300px;
$x-large: 1600px;
$xx-large: 2800px;

:root { 
    --theme-base: #ffffff;  
    --text-color: #000000;
    --text-color-lighter: #ffffff;
    --accent-color: #C1272D;
    --accent-shade: #999999;

    --theme-base-shaded: #F2F2F2;
    --theme-base-invert: #000000;  


    --font: 'Montserrat-Regular', sans-serif;
    --font-medium: 'Montserrat-SemiBold', sans-serif;
    --font-bold: 'Montserrat-ExtraBold', sans-serif;

}
