<footer class="footer pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-6 col-lg-3 pt-4 pb-4">
                        <h5 class="footer__header uppercase">company info</h5>
                        <ul class="footer__menu">
                            <li><a href="">About THREADED</a></li>
                            <li><a href="">Affiliate</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 pt-4 pb-4">
                        <h5 class="footer__header uppercase">Help & support</h5>
                        <ul class="footer__menu">
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Shipping</a></li>
                            <li><a href="">Returns</a></li>
                            <li><a href="">How To Order</a></li>
                            <li><a href="">How To Track</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 pt-4 pb-4">
                        <h5 class="footer__header uppercase">Customer care</h5>
                        <ul class="footer__menu">
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Payment Methodes</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 pt-4 pb-4">
                        <h5 class="footer__header uppercase">Follow us</h5>
                        <ul class="footer__menu d-flex align-items-center flex-wrap">
                            <li><a href=""><svg class="footer__icon"><use xlink:href="#facebook"></use></svg></a></li>
                            <li><a href=""><svg class="footer__icon"><use xlink:href="#instagram"></use></svg></a></li>
                            <li><a href=""><svg class="footer__icon"><use xlink:href="#twitter"></use></svg></a></li>
                            <li><a href=""><svg class="footer__icon"><use xlink:href="#youtube"></use></svg></a></li>
                            <li><a href=""><svg class="footer__icon"><use xlink:href="#pinterest-alt"></use></svg></a></li>
                            <li><a href=""><svg class="footer__icon"><use xlink:href="#tiktok"></use></svg></a></li>
                        </ul>

                        <h5 class="footer__header uppercase">We accept</h5>
                        <ul class="footer__menu d-flex align-items-center flex-wrap">
                            <li><img src="img/payment-method/visa.svg" width="37" height="25" class="mt-3 mr-3" alt="visa" /></li>
                            <li><img src="img/payment-method/mastercard.svg" width="37" height="25" class="mt-3 mr-3" alt="mastercard" /></li>
                            <li><img src="img/payment-method/maestro.svg" width="37" height="25" class="mt-3 mr-3" alt="maestro" /></li>
                            <li><img src="img/payment-method/amex.svg" width="37" height="25" class="mt-3 mr-3" alt="amex" /></li>
                            <li><img src="img/payment-method/paypal.svg" width="37" height="25" class="mt-3 mr-3" alt="paypal" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-sm-5">
            <div class="col-sm-6 order-sm-2 text-align-center text-align-sm-left text-align-lg-right"><a href="" class="site-branding"><img src="img/logo.svg" class="mt-5 mb-4 mt-sm-0 mb-sm-0" width="192" height="16" alt="logo" /></a></div>
            <div class="col-sm-6 order-sm-1 text-align-center text-align-sm-left"><p class="mb-0"><small>©2021 THREADED All Rights Reserved.</small></p></div>
        </div>
    </div>
</footer>