<nav>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-lg-4 order-lg-2">
                <a href="" class="site-branding ml-lg-auto mr-lg-auto"><img src="img/logo.svg" class="ml-lg-auto mr-lg-auto" width="192" height="16" alt="logo" /></a>
            </div>
            <div class="col-6 col-lg-4 order-lg-1">
                <button role="button" class="site__menu-toggle d-lg-none ml-auto ml-lg-0" id="js-menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="site-menu-container" id="js-site-menu-container">
                    <button role="button" class="site__menu-toggle-close ml-auto d-lg-none" id="js-menu-toggle-close">
                        <svg class="icon"><use xlink:href="#close"></use></svg>
                    </button>
                    <ul class="site-menu d-lg-flex align-items-center">
                        <li class="active"><a href="">Woman</a></li>
                        <li><a href="">Plus</a></li>
                        <li><a href="">Men</a></li>
                        <li><a href="">accesories</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 order-lg-3">
                <div class="d-flex align-items-center justify-content-center justify-content-lg-end pt-3 pt-lg-0" id="js-site-option-group">
                    <ul class="site-header-options d-flex align-items-center mr-3">
                        <li><a><svg class="site-header-options__icon"><use xlink:href="#user"></use></svg></a></li>
                        <li>
                            <a id="js-toggle-cart">
                                <svg class="site-header-options__icon"><use xlink:href="#shopping-bag"></use></svg>
                            </a>
                            <div class="site-header-options__cart p-5" id="js-cart-box">
                                <!-- <div class="row">
                                    <div class="col-5">
                                        <img src="img/thumbnail/recent/img-1.jpg" />
                                    </div>
                                    <div class="col-7">
                                        <span class="btn btn--xs uppercase btn--rounded mb-2">Best seller</span>
                                        <p class="mb-2"><strong>Hanna Gown</strong></p>
                                        <p class="mb-2">Bronx and Blanco</p>
                                        <p class="mb-0">Size: <span class="uppercase">s</span></p>
                                        <p class="mb-0">Color: <span class="capitalize">Muticolor</span></p>
                                        <p class="mb-2">Qty: <span class="capitalize">1</span></p>
                                        <p class="mb-0 black"><strong>4,883.94 <span>lel</span></strong></p>
                                    </div>
                                </div>
                                <div class="separator mt-4 mb-4"></div>

                                <div class="row">
                                    <div class="col-5">
                                        <img src="img/thumbnail/recent/img-2.jpg" />
                                    </div>
                                    <div class="col-7">
                                        <p class="mb-2"><strong>Hanna Gown</strong></p>
                                        <p class="mb-2">Bronx and Blanco</p>
                                        <p class="mb-0">Size: <span class="uppercase">s</span></p>
                                        <p class="mb-0">Color: <span class="capitalize">Muticolor</span></p>
                                        <p class="mb-2">Qty: <span class="capitalize">1</span></p>
                                        <p class="mb-0"><strong>4,883.94 <span>lel</span></strong></p>
                                    </div>
                                </div>
                                <div class="separator mt-4 mb-4"></div> -->
                                <div id="js-cart-container" class="site-header-options__cart-container"></div>
                                <div class="site-header-options__cart-footer pt-3">
                                    <div class="row">
                                        <div class="col-6"><strong>My Bag (<span id="quantity"></span>)</strong></div>
                                        <div class="col-6 text-align-lg-right"><strong><span id="total-price"></span></strong></div>
                                    </div>
                                    <a href="" class="btn btn--invert uppercase d-block text-align-center btn--sm pt-4 pb-4 pl-5 pr-5 mt-4" id="js-btn-checkout">Begin checkout</a>
                                </div>
                            </div>
                        </li>
                        <li><a><svg class="site-header-options__icon"><use xlink:href="#heart"></use></svg></a></li>
                        <li><a><svg class="site-header-options__icon"><use xlink:href="#support"></use></svg></a></li>
                        <li><a><svg class="site-header-options__icon"><use xlink:href="#search"></use></svg></a></li>
                    </ul>
                    <div class="site-currency">
                        <span class="site-currency__active d-flex align-items-center">
                            <img src="img/flag-us.svg" class="site-currency__flag" width="25" height="25" alt="" />
                            USD $
                            <svg class="site-currency__icon-down"><use xlink:href="#carret-down"></use></svg>
                        </span>
                        <ul class="d-none">
                            <li><a><img src="img/flag-us.svg" class="site-currency__flag" width="25" height="25" alt="" />USD $</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

 
