.footer {
    position: relative;


    &__header {
        font-size: 1.2rem;
        font-family: var(--font-medium);
    }

    &__menu {

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-size: 1.2rem;
                display: block;
                padding: 1rem 0;
                transition: color .2s ease-in-out;

                &:hover {
                    color: var(--accent-shade);
                }

            }

            &:first-of-type {
                a .footer__icon {
                    margin-left: 0 !important;
                }
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 0 .7rem;
    }

    
}